html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*Reset Styles*/
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Browser Resets*/



/*Base Styles*/
img {
	width: 100%;
	height: auto;
}
h1 {
	font-family: lobster;
	font-size: 36px;
	margin: 15px 0px;
}
h2 {
	clear: left;
	padding: 20px 0px;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #7C8457;
}
a:hover, a:active {
	color: #36231C;
} 
.main-content-container {
	float: left;
	width: 100%;
}
body {
   position: relative;
   background: url(assets/bk-lines.gif);
}
/*To Prevent Wrappers on floated elements from collapsing*/
.clear {
	content: "";
  	clear: both;
  	display: table;
}



/*Header Styles*/
.header-container {
	border-bottom: 3px solid #882727;
	background: #fff;
	float: left;
	width: 100%;
}
.logo {
	width: auto;
	height: auto;
	margin-left: 8px;
}
.logo-wrapper {
	float: left;
	min-width: 234px;
}



/*Navigation Menu*/
.navigation {
	float: left;
	height: 100%;
}
.navigation li a {
	font-size: 18px;
	color: #882727;
	padding: 30px 30px 10px 30px;
	display: block;
	height: 34px;
}
.navigation li {
	float: left;
	height: 100%;
}
.navigation li a:hover {
	color: #d5d5d5;
	opacity: 0.8;
	cursor: pointer;
}



/*Image Gallery Styles*/
.tab {
	width: 100%;
	display: none;
	float: left;
}
.tab.display {
	display: block;
	float: left;
	width: 100%;
}
.tab-container {
	float: left;
	width: 100%;
}
.row {
	float:left;
	clear: both;
	padding: 1% 0;
	margin: 0 auto;
	width: 100%;
}
.row:last-child {
	padding-top: 0px;
}
.col {
	float: left;
	margin: 0 1%;
	position: relative;
	background: #000;
	width: 32%;
}
.col:first-child {
	margin-right: 0;
}
.col:last-child {
	margin-left: 0;
}
.col img {
	display: block;
}
figcaption {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	display: none; /* Will fade in with jQuery */
	color: #fff;
	padding: ;
	font-size: 22px;
	font-family: 'Lobster', cursive;
}



/*Map Styles*/
#map { 
	height: 400px;
	width: 100%;
	float: right; 
	clear: both;
	border-top: 3px solid #882727;
}










